{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    {% if object %}
    Editar gasto
    {% else %}
    Nuevo gasto
    {% endif %}
</h1>


<div class="card shadow-sm">

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">
                Guardar
            </button>

            <a href="{% url 'gasto_lista' %}" class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>

{% endblock %}