DJANGO_SECRET_KEY=genere-una-clave-larga-y-aleatoria
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
ORGANIZACION=Mi Compañía de Fianzas S.A.
TIME_ZONE=America/Guayaquil

# postgres | mysql | mssql | sqlite
DB_ENGINE=postgres
DB_NAME=rat
DB_USER=rat_app
DB_PASSWORD=clave
DB_HOST=localhost
DB_PORT=5432

# Solo SQL Server
# DB_MSSQL_DRIVER=ODBC Driver 18 for SQL Server
# DB_MSSQL_EXTRA=TrustServerCertificate=yes
